# Ignore the result of any builds.
*.o
*.sho
*.exe
*.lib
*.shl
*.d

# Ignore test-related stuff
tests.out
tests.raw
*.pid

# Ignore the ISO

*.iso
# Ignore floppy image
*.img

#ignore emacs files
#ignore emacs temp files
\#*\#
.\#*

#ignore vim files
.*.swp
*~

#ignore logs
*.log

#ignore scons database file:
.sconsign.dblite

#ignore ctags
tags

#ignore isofs
isofs/Drivers
isofs/Modules
isofs/System

#ignore buildinfo
include/buildinfo.h

#ignore make_initrd executable
tools/initrd/make_initrd

#ignore initrd.img
tools/initrd/initrd.img

src/metodo/init/cscope.out

# ignore the crosscompiler
tools/cross/binutils-2.20.1/
tools/cross/binutils-build/
tools/cross/gcc-4.4.0/
tools/cross/gcc-build/
tools/cross/downloads/binutils-2.19.1.tar.bz2
tools/cross/downloads/gcc-core-4.4.0.tar.gz
tools/cross/binutils
tools/cross/gcc
tools/cross/pre
tools/cross/downloads/
tools/bootinfo
/cscope.files
/cscope.out
