#ignore the result of any builds
*.o
*.lib
*.a
*.so
*.map

#ignore executables and images (binary stuff)
krnl
Dux.iso

#ignore emacs files
#ignore emacs temp files
\#*\#
.\#*

#ignore vim files
.*.swp
*~

#ignoring because it is generated locally
include/build_info.h

#ignore logs
*.log

#ignore scons database file:
.sconsign.dblite

#ignore ctags
tags

#ignore isofs
isofs

#ignore local Makefiles
Makefile
